* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login label {
    font-weight: bold;
}

.login input[type="text"] {
    width: calc(100% - 80px); /* Adjust width as needed */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}
.choices{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.choices button{
    margin: 0;
}
button:hover {
    background-color: #0056b3;
}
#noBtn {
    position: absolute;
    background-color: #ff0000;
}
#noBtn:hover{
    background-color: #b30000;
}
.img-container {
    text-align: center;
    margin-top: 20px;
}

 img {
    max-width: 90%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px; /* Optional: Apply border radius for rounded corners */
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
